{% extends "books/base.html" %}
{% block title %}Details Book{% endblock %}
{% load staticfiles %}

{% block css %}
  <link href="{% static "styles.css" %}" rel="stylesheet">
{% endblock css%}

{% block content %}
	
	<h2 style="text-align:center;"> {{ saga.name }} - {{saga.author.name}}</h2>

	<div class="container">
	{% for book in saga.books_set.all %}
		<div class="box">
			<h3 class="image-title">{{book.title}}</h3>
			<img src="/media/images/{{book.cover_url}}" width="250px">
		</div>
	{% endfor %}
	</div>
{% endblock%}
