{%extends "books/base.html"%}
{% block title %}{% endblock %}
{%load staticfiles%}
{% block css %}
  <link href="{% static "styles.css" %}" rel="stylesheet">
{% endblock css%}
{% block sub-title%}Sagas{% endblock%}
{%block content%}

	<div class="container-groups">
		{% for saga in sagas %}

		<div style="display: inline-block;">
			<h4>
				<a href="{% url 'detail-saga' saga.slug %}" class="estilos-a" >
					{{saga.name}} - {{saga.author.name}}
				</a>
			</h4>
		</div><br>

		{% endfor%}
	</div>

{%endblock%}
